* {
    border: 1px red solid;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}
/* Header */
.header {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    /* Need to add padding or margin on the side */
    padding: 10px 0px;
}
.logo {
    font-size: 30px;
    color: white;
}

.logo a {
    font-size: 38px;
}
ul {
    display: flex;
    /* gap: 20px; */
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    padding: 0 30px;
    display: inline-block;
}
li a:hover {
    color: rgb(134, 134, 134);
    /* font-size: 23px; */
}

li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: whitesmoke;
    transition: all 0.5s;
}

li a:hover::after {
    width: 100%;
}

/* End of Header */

/* Main-1 */
.main-1 {
    /* border: 1px red solid; */
    background-color: #1f2937;
    /* padding: 100px 200px; */
    height: 500px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
.text,
img {
    flex: 1;
} */

.main-1 img {
    background-color: grey;
    text-align: center;
    /* min-width: 150px; */
    width: 300px;
    height: auto;
    /* color: white; */
}
.content-left {
    width: 40%;
}

.main-text,
.content-left p {
    margin: 30px 0;
    padding: 30px;
}

button {
    background-color: #3882f6;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    padding: 5px 30px;
    /* text-transform: uppercase; */
}
button:hover {
    background-color: #6d9ce6;
}

/* End of Main-1 */

/* .mid-1,
.mid-2,
.bottom {
    display: flex;
} */
/* .mid-1 {
    justify-content: center;
    align-items: center;
} */
/* .mid-1 .boxes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-box {
    height: 160px;
    width: 130px;
    border: 2px blue solid;
    border-radius: 50%;
}

h2 {
    text-align: center;
}


.main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

footer {
    text-align: center;
    background-color: #1f2937;
    color: white;
    padding: 30px;
} */
/* 
.top,
.mid-1,
.quote {
    width: 100%;
    height: 360px;
} */

/* .quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
} */

/* .quote p {
    width: 50%;
} */

/* 
.ad {
    display: flex;
    justify-content: center;

    color: white;
    margin: 60px;
}
.ad-container {
    background-color: #3882f6;
    border-radius: 3%;
    width: 800px;
    padding: 30px 100px;
} */
